@import url("https://fonts.googleapis.com/css?family=Open+Sans|Quicksand");

/* Global CSS variables that control appearance */
* {
  --left-gutter: 5vw;
  --right-gutter: 28vw;
  --mobile-gutter: 5vw;
  --expand-button-diameter: 2rem;
  --animation-duration: 500ms;
  --page-color: #fffaec;
  --text-color: #46585d;
  --code-background: #e7e7e7;
  --side-note-color: #8f8f8f2b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Hide the horizontal scroll bars caused by elements spilling over sides */
body {
  overflow-x: hidden;
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  max-width: 100vw;
  margin: 0;
  background-color: var(--page-color);
  color: var(text-color);
}

h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
  padding-bottom: 5px;
  padding-right: 0px;
  padding-left: 0px;
}

.container h1 {
  padding-top: 25px;
}

.container h2 {
  padding-top: 20px;
}

.container h3 {
  padding-top: 15px;
}

/* The main body of the document */
.container {
  margin-left: var(--left-gutter);
  margin-right: var(--right-gutter);
  position: relative;
}

/* Side note styles*/
/* When viewing on a large screen stick sidenotes on... the side! */
/* Fonts are lighter and slanty to indicate they're different from the rest */
.side-note {
  position: absolute;
  left: 100%;
  width: var(--right-gutter);
  font-style: oblique;
  font-weight: lighter;
  padding: 0.5rem;
}

/* Add a small vertical line to the left of the code output */
pre {
  border-left: 2px solid black;
  padding-left: 3px;
  overflow-x: scroll;
}

/* Code chunk styles */
pre.r {
  background: var(--code-background);
  border-radius: 5px;
  padding: 5px;
  border-left: 0px solid black;
}

/* Plots and images are sized here */
/* --------------------------------*/

/* Don't let images spill out of the main body */
img,
.side-note img {
  max-width: 100%;
}

/* Stretch a plot across the whole width of the screen */
.full-width-plot img {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(0px - var(--left-gutter));
}

/* Styles for when viewing on mobile */
/* --------------------------------*/

@media (max-width: 600px) {
  /* Main body now is evenly placed in center*/
  .container {
    margin-left: var(--mobile-gutter);
    margin-right: var(--mobile-gutter);
    width: calc(100vw - 2*var(--mobile-gutter));
  }

  /* Side notes fall inline instead of on side */
  .side-note {
    background-color: var(--page-color);
    position: relative;
    display: inline-block;
    margin: 1rem auto 1rem calc(50% - 50vw);
    width: 100vw;
    left: auto;
    padding-top: calc(var(--expand-button-diameter)/2);
    max-height: calc(var(--expand-button-diameter) + 1px);
    overflow-y: hidden;
    -webkit-transition: max-height var(--animation-duration) ease-in-out;
    transition: max-height var(--animation-duration) ease-in-out,
      background-color var(--animation-duration) ease-in-out;
  }

  /* Side notes with images need to have everything centered using grid */
  div.side-note {
    display: grid;
    justify-content: center;
  }

  span.side-note {
    padding-top: var(--expand-button-diameter);
    padding-bottom: 0px;
  }

  /* Adds a little plus icon to click and expand sidenote */
  .side-note::after {
    content: '';
    background: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='1.5rem' height='1.5rem' fill='none' stroke='currentcolor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'> <path d='M30 20 L16 8 2 20'/></svg>");
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid black;
    width: var(--expand-button-diameter);
    height: var(--expand-button-diameter);
    border-radius: 50%;
    background-color: var(--page-color);
    left: calc(50vw - var(--expand-button-diameter)/2);
    cursor: pointer;
    transform: rotate(-180deg);
    transition: transform var(--animation-duration) cubic-bezier(0.53, 0.2, 0.52, 1.44);
  }

  /* Horizontal line that the sidenote 'hides' behind */
  .side-note::before {
    content: "";
    width: 100vw;
    height: calc(var(--expand-button-diameter)/2);
    left: 0;
    background-color: var(--page-color);
    border-bottom: 1px solid black;
  }

  .side-note::after,
  .side-note::before {
    top: 0;
    position: absolute;
  }

  /* Interaction/ Animation logic */

  /* When the user taps the shrunken side-note it expands */
  .side-note.selected {
    max-height: 1000px;
    background-color: var(--side-note-color);
  }

  .side-note.selected::after {
    transform: rotate(0deg);
  }

  .full-width-plot img {
    margin: 0 calc(-50vw + 50%);
  }
}

.author,
.date,
.title {
  margin: 0px 0px 3px 3px;
}

/* Add a horizontal divider after the date info to indicate start of document */
.date::after {
  content: "";
  position: absolute;
  left: -10vw;
  right: 0;
  margin-top: 2em;
  height: 2px;
  background-color: black;
}

.intro {
  padding: 0.5em 1em;
}

.intro .author::before,
.intro .date::before {
  content: '';
  padding: 0 0.75em;
}

.intro .author::before {
  background: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='1rem' height='1rem' fill='none' stroke='currentcolor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'> <path d='M22 11 C22 16 19 20 16 20 13 20 10 16 10 11 10 6 12 3 16 3 20 3 22 6 22 11 Z M4 30 L28 30 C28 21 22 20 16 20 10 20 4 21 4 30 Z'/></svg>");
  background-position: center;
  background-repeat: no-repeat;

}

.intro .date::before {
  background: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='1rem' height='1.5rem' fill='none' stroke='currentcolor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'> <path d='M2 6 L2 30 30 30 30 6 Z M2 15 L30 15 M7 3 L7 9 M13 3 L13 9 M19 3 L19 9 M25 3 L25 9'/></svg>");
  background-position: center;
  background-repeat: no-repeat;
}

