@import url('https://fonts.googleapis.com/css?family=Open+Sans|Quicksand');

/* Global CSS variables that control appearance */
* {
  --body-padding: 8px;
  --left-gutter: 5vw;
  --side-note-padding: 1em;
  --right-gutter: 28vw;
  --mobile-gutter: 5vw;
  --mobile-padding: 0.5rem;
  --code-background: lightgrey;
  --expand-button-diameter: 25px;
  --page-color: white;
  --side-note-color: #bdbdbd;
  --animation-duration: 1000ms;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Hide the horizontal scroll bars caused by elements spilling over sides */
body {
  overflow-x: hidden;
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
  max-width: 100vw;
}

h1,
h2,
h3 {
  font-family: 'Open Sans', sans-serif;
}

.container h1 {
  padding: 25px 0px 5px 0px;
}

.container h2 {
  padding: 20px 0px 5px 0px;
}

.container h3 {
  padding: 15px 0px 5px 0px;
}

/* The main body of the document */
.container {
  margin-left: var(--left-gutter);
  margin-right: var(--right-gutter);
  position: relative;
}

/* Side note styles*/
/* When viewing on a large screen stick sidenotes on... the side! */
/* Fonts are lighter and slanty to indicate they're different from the rest */
.side-note {
  position: absolute;
  left: calc(100% + var(--mobile-padding));
  width: calc(var(--right-gutter) - var(--mobile-padding));
  font-style: oblique;
  font-weight: lighter;
}

/* Don't let the side note plots or images be larger than the gutter width */
.side-note img {
  max-width: var(--right-gutter);
}

/* Add a small vertical line to the left of the code output */
pre {
  border-left: 2px solid black;
  padding-left: 3px;
}

/* Code chunk styles */
pre.r {
  background: var(--code-background);
  border-radius: 5px;
  padding: 5px;
  border-left: 0px solid black;
}


/* Plots and images are sized here */
/* --------------------------------*/
img {
  max-width: 100vw;
}

/* Stretch a plot across the whole width of the screen */
.full-width-plot img {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(0px - var(--body-padding) - var(--left-gutter));
}


/* Styles for when viewing on mobile */
/* --------------------------------*/

@media (max-width: 600px) {

   /* Main body now is evenly placed in center*/
  .container {
    margin-left: var(--mobile-gutter);
    margin-right: var(--mobile-gutter);
    width: calc(100vw - 2*var(--mobile-gutter) - 2*var(--body-padding));
  }

  /* Side notes fall inline instead of on side */
  .side-note {
    background-color: var(--page-color);
    position: relative;
    display: block;
    margin-left: calc(50% - 50vw);
    width: 100vw;
    right: auto;
    left: auto;
    padding: var(--mobile-padding);
    padding-top: calc(var(--expand-button-diameter)/2);
    max-height: calc(var(--expand-button-diameter) + 1px);
    overflow-y: hidden;
    -webkit-transition: max-height 100ms;
    transition: max-height 100ms;
  }

  /* Side notes with images need to have everything centered using grid */
  div.side-note {
    display: grid;
    justify-content: center;
  }

  span.side-note{
    padding-top: calc(var(--expand-button-diameter) + 1px);
    padding-bottom: 0px;
  }

  /* Adds a little plus icon to click and expand sidenote */
  .side-note::after {
    content: '+';
    font-size: 2rem;
    line-height: calc(5px + var(--expand-button-diameter)/2);
    font-style: normal;
    text-align: center;
    border: 1px solid black;
    width: var(--expand-button-diameter);
    height: var(--expand-button-diameter);
    border-radius: 50%;
    background-color: var(--page-color);
    left: 50vw;
    cursor: pointer;
  }

  /* Horizontal line that the sidenote 'hides' behind */
  .side-note::before {
    content: '';
    width: 100vw;
    height: calc(var(--expand-button-diameter)/2);
    left: 0;
    background-color: var(--page-color);
    border-bottom: 1px solid black;
  }

  .side-note::after,
  .side-note::before {
    top: 0;
    position: absolute;
  }

  /* Interaction/ Animation logic */

  /* When the user hovers over the shrunken side-note it expands */
  .side-note:hover,
  .side-note:active {
    max-height: 1000px;
    background-color: var(--side-note-color);
    -webkit-transition: max-height var(--animation-duration) ease-in-out;
    transition: max-height var(--animation-duration) ease-in-out;
    padding-bottom: var(--mobile-padding);
  }


  /* Hide the little hover icon */
  .side-note:hover::after,
  .side-note:active::after{
    content: '-';
  }

  img {
    max-width: calc(100vw - 2*var(--mobile-gutter));
  }

  /* Don't let images spill out of the main body */
  .side-note img {
    max-width: 100%;
  }

  .full-width-plot img {
     margin: 0 calc(-50vw + 50%);
  }

}

.author,
.date,
.title {
  margin: 0px 0px 3px 3px;
}

/* Add a horizontal divider after the date info to indicate start of document */
.date::after{
  content: '';
  position: absolute;
  left: -10vw;
  right: 0;
  margin-top: 2em;
  height: 2px;
  background-color: black;
}
